.container 
    padding:5px
    background-color: white
.top-nav
    display: flex
    justify-content: space-between
    padding:5px
    border-bottom: 1px solid #ccc
.back
    width: 10px
.content
    padding:5px
    &__row
        display: flex
        justify-content: space-between
        .column
            display: flex
            flex-direction: column
            flex: 1 
        
.btn-link
    float: right
.product 
    display: flex
    gap: 10px
.image
    width:100px
    height:100px
    img
        width:100%