<app-header></app-header>
<div class="text-1 d-flex justify-content-center p-2">
  What do you want to do?
</div>
<div class="container w-50 pt-3">
  <div class="text-2 d-flex justify-content-center pb-5">Shipment Search</div>
  <form>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="order"
        placeholder="Order #"
      />
    </div>

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="shipment"
        placeholder="Shipment #"
      />
    </div>

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="firstName"
        placeholder="First Name"
      />
    </div>

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="lastName"
        placeholder="Last Name"
      />
    </div>

    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email ID"
      />
    </div>

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="phone"
        placeholder="Phone number"
      />
    </div>
    <div class="form-btn d-flex justify-content-end">
      <button type="submit" class="btn btn-outline-primary btn-sm ms-2 w-25">
        Reset
      </button>
      <button type="submit" class="btn btn-primary btn-sm ms-2 w-25">
        Submit
      </button>
    </div>
  </form>
</div>
