<div class="text-1 d-flex justify-content-center p-2">
  {{ "home.LABEL_WhatDoYouWantToDO" | translate }}
</div>
<div class="container w-50 pt-3">
  <div class="text-2 d-flex justify-content-center pb-5">
    {{ "home.LABEL_ShipmentSearch" | translate }}
  </div>
  <form>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="order"
        placeholder="Order #"
        name="order"
        [(ngModel)]="formData.OrderNo"
      />
    </div>

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="shipment"
        placeholder="Shipment #"
        name="shipment"
        [(ngModel)]="formData.ShipmentNo"
      />
    </div>

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="firstName"
        placeholder="First Name"
        name="firstName"
        [(ngModel)]="formData.BillToAddress.FirstName"
      />
    </div>

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="lastName"
        placeholder="Last Name"
        name="lastName"
        [(ngModel)]="formData.BillToAddress.LastName"
      />
    </div>

    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email ID"
        name="email"
        [(ngModel)]="formData.BillToAddress.EMailID"
      />
    </div>

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="phone"
        placeholder="Phone number"
        name="phone"
        [(ngModel)]="formData.BillToAddress.DayPhone"
      />
    </div>
  </form>
  <div class="form-btn d-flex justify-content-end">
    <button
      type="submit"
      class="btn btn-outline-primary btn-sm ms-2 w-25"
      (click)="onReset()"
    >
      Reset
    </button>
    <button
      type="submit"
      class="btn btn-primary btn-sm ms-2 w-25"
      (click)="onSearch()"
    >
      Search
    </button>
  </div>
</div>
